In [2]:
import pandas as pd 
import numpy as np

In [ ]:
df_productos = pd.read_csv("./productos99.csv", sep=",")
df_productos.head()

   id_producto     nombre_producto  categoria   precio_unitario
0            1      Coca Cola 1.5L  Alimentos            2347.0
1            2          Pepsi 1.5L   Limpieza            4973.0
2            3         Sprite 1.5L  Alimentos            4964.0
3            4  Fanta Naranja 1.5L   Limpieza            2033.0
4            5  Agua Mineral 500ml  Alimentos            4777.0

In [ ]:
df_cliente.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_producto       120 non-null    int64
 1    nombre_producto  120 non-null    object
 2    categoria        118 non-null    object
 3    precio_unitario  117 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 3.9+ KB

Observaciones: 
- Categoria tiene dos datos nulos que hay que revisar 
- precio_unitario tiene tres datos nulos que hay que revisar
- Modificar los nombres de las ultimas tres columnas que hay que corregir

In [7]:
df_cliente.columns

Index(['id_producto', ' nombre_producto', ' categoria', ' precio_unitario'], dtype='object')

In [8]:
df_productos = df_productos.rename(columns={
    ' nombre_producto': "nombre_producto",
    ' categoria':"categoria", 
    ' precio_unitario':"precio_unitario"
})

In [ ]:
df_cliente.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_producto      120 non-null    int64
 1   nombre_producto  120 non-null    object
 2   categoria        118 non-null    object
 3   precio_unitario  117 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 3.9+ KB

In [10]:
print("\nüìò TIPOS Y FORMATOS DE DATOS:")
print(df_productos.dtypes)

üìò TIPOS Y FORMATOS DE DATOS:
id_producto          int64
nombre_producto     object
categoria           object
precio_unitario    float64
dtype: object

In [11]:
print("\nüö´ VALORES NULOS:")
print(df_productos.isnull().sum())

print("\nüìã CANTIDAD DE FILAS DUPLICADAS:")
print(df_productos.duplicated().sum())

üö´ VALORES NULOS:
id_producto        0
nombre_producto    0
categoria          2
precio_unitario    3
dtype: int64

üìã CANTIDAD DE FILAS DUPLICADAS:
0

In [ ]:
print("\n‚ö†Ô∏è VALORES AT√çPICOS (IQR):")

columnas_numericas = df_productos.select_dtypes(include=[np.number]).columns

for col in columnas_numericas:
    q1 = df_productos[col].quantile(0.25)
    q3 = df_productos[col].quantile(0.75)
    iqr = q3 - q1
    limite_inferior = q1 - 1.5 * iqr
    limite_superior = q3 + 1.5 * iqr
    outliers = df_productos[(df_productos[col] < limite_inferior) | (df_productos[col] > limite_superior)]

    print(f"\n‚û° {col}:")
    print(f"   Q1 = {q1:.2f}, Q3 = {q3:.2f}, IQR = {iqr:.2f}")
    print(f"   L√≠mite inferior: {limite_inferior:.2f}")
    print(f"   L√≠mite superior: {limite_superior:.2f}")
    print(f"   Valores at√≠picos detectados: {len(outliers)}")

‚ö†Ô∏è VALORES AT√çPICOS (IQR):

‚û° id_producto:
   Q1 = 30.75, Q3 = 90.25, IQR = 59.50
   L√≠mite inferior: -58.50
   L√≠mite superior: 179.50
   Valores at√≠picos detectados: 0

‚û° precio_unitario:
   Q1 = 1584.00, Q3 = 4061.00, IQR = 2477.00
   L√≠mite inferior: -2131.50
   L√≠mite superior: 7776.50
   Valores at√≠picos detectados: 2

In [13]:
print("\nüìè RANGOS DE VARIABLES NUM√âRICAS:")

for col in columnas_numericas:
    minimo = df_productos[col].min()
    maximo = df_productos[col].max()
    print(f"{col}: M√≠nimo = {minimo}, M√°ximo = {maximo}, Rango = {maximo - minimo}")

üìè RANGOS DE VARIABLES NUM√âRICAS:
id_producto: M√≠nimo = 1, M√°ximo = 120, Rango = 119
precio_unitario: M√≠nimo = -1450.0, M√°ximo = 999999.0, Rango = 1001449.0

In [14]:
print("\nüìà MEDIAS, MEDIANAS Y MODAS:")

for col in columnas_numericas:
    media = df_productos[col].mean()
    mediana = df_productos[col].median()
    moda = df_productos[col].mode()[0] if not df_productos[col].mode().empty else None
    print(f"{col}: Media = {media:.2f}, Mediana = {mediana:.2f}, Moda = {moda}")

üìà MEDIAS, MEDIANAS Y MODAS:
id_producto: Media = 60.50, Mediana = 60.50, Moda = 1
precio_unitario: Media = 12000.73, Mediana = 2512.00, Moda = 1571.0

In [15]:
print("\nüìä DESVIACI√ìN EST√ÅNDAR:")

for col in columnas_numericas:
    desvio = df_productos[col].std()
    print(f"{col}: Desviaci√≥n est√°ndar = {desvio:.2f}")

üìä DESVIACI√ìN EST√ÅNDAR:
id_producto: Desviaci√≥n est√°ndar = 34.79
precio_unitario: Desviaci√≥n est√°ndar = 92577.43

In [16]:
print("\n‚úÖ AN√ÅLISIS COMPLETADO EXITOSAMENTE.")
print(f"Total de filas analizadas: {len(df_productos)}")
print(f"Total de columnas: {len(df_productos.columns)}")

‚úÖ AN√ÅLISIS COMPLETADO EXITOSAMENTE.
Total de filas analizadas: 120
Total de columnas: 4

In [18]:
df_cliente = pd.read_csv("./clientes99.csv", sep=",")
df_cliente.head()

,id_cliente,nombre_cliente,email,ciudad,fecha_alta
0,1,Mariana Lopez,mariana.lopez@mail.com,Carlos Paz,44927.0
1,2,Nicolas Rojas,nicolas.rojas@mail.com,Carlos Paz,44928.0
2,3,Hernan Martinez,hernan.martinez@mail.com,Rio Cuarto,44929.0
3,4,Uma Martinez,uma.martinez@mail.com,Carlos Paz,44930.0
4,5,Agustina Flores,agustina.flores@mail.com,Cordoba,44931.0

In [19]:
df_cliente.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_cliente       100 non-null    int64
 1    nombre_cliente  100 non-null    object
 2    email           100 non-null    object
 3    ciudad          100 non-null    object
 4    fecha_alta      99 non-null     float64
dtypes: float64(1), int64(1), object(3)
memory usage: 4.0+ KB

In [20]:
print("\nüìò TIPOS Y FORMATOS DE DATOS:")
print(df_cliente.dtypes)

üìò TIPOS Y FORMATOS DE DATOS:
id_cliente           int64
 nombre_cliente     object
 email              object
 ciudad             object
 fecha_alta        float64
dtype: object

In [21]:
print("\nüö´ VALORES NULOS:")
print(df_cliente.isnull().sum())

print("\nüìã CANTIDAD DE FILAS DUPLICADAS:")
print(df_cliente.duplicated().sum())

üö´ VALORES NULOS:
id_cliente         0
 nombre_cliente    0
 email             0
 ciudad            0
 fecha_alta        1
dtype: int64

üìã CANTIDAD DE FILAS DUPLICADAS:
0

In [22]:
print("\n‚ö†Ô∏è VALORES AT√çPICOS (IQR):")

columnas_numericas = df_cliente.select_dtypes(include=[np.number]).columns

for col in columnas_numericas:
    q1 = df_cliente[col].quantile(0.25)
    q3 = df_cliente[col].quantile(0.75)
    iqr = q3 - q1
    limite_inferior = q1 - 1.5 * iqr
    limite_superior = q3 + 1.5 * iqr
    outliers = df_cliente[(df_cliente[col] < limite_inferior) | (df_cliente[col] > limite_superior)]

    print(f"\n‚û° {col}:")
    print(f"   Q1 = {q1:.2f}, Q3 = {q3:.2f}, IQR = {iqr:.2f}")
    print(f"   L√≠mite inferior: {limite_inferior:.2f}")
    print(f"   L√≠mite superior: {limite_superior:.2f}")
    print(f"   Valores at√≠picos detectados: {len(outliers)}")

‚ö†Ô∏è VALORES AT√çPICOS (IQR):

‚û° id_cliente:
   Q1 = 25.75, Q3 = 75.25, IQR = 49.50
   L√≠mite inferior: -48.50
   L√≠mite superior: 149.50
   Valores at√≠picos detectados: 0

‚û°  fecha_alta:
   Q1 = 44951.50, Q3 = 45000.50, IQR = 49.00
   L√≠mite inferior: 44878.00
   L√≠mite superior: 45074.00
   Valores at√≠picos detectados: 0

In [23]:
print("\nüìè RANGOS DE VARIABLES NUM√âRICAS:")

for col in columnas_numericas:
    minimo = df_cliente[col].min()
    maximo = df_cliente[col].max()
    print(f"{col}: M√≠nimo = {minimo}, M√°ximo = {maximo}, Rango = {maximo - minimo}")

üìè RANGOS DE VARIABLES NUM√âRICAS:
id_cliente: M√≠nimo = 1, M√°ximo = 100, Rango = 99
 fecha_alta: M√≠nimo = 44927.0, M√°ximo = 45025.0, Rango = 98.0